if messages.error
  span.toast-content
    for error in messages.error
        p
        | #{error}

if messages.info
  span.toast-content
    for info in messages.info
      p
      | #{info}

if messages.success
  span.toast-content
    for success in messages.success
      p
      | #{success}

if messages.error || messages.info || messages.success
  script. 
    var $toastContent = $('.toast-content');
    Materialize.toast($toastContent, 5000);  
    console.log($toastContent)